// Primery-Font
$primery-font-family: "Poppins";
$primery-font-size: 16px;
$primery-line-height: 30px;
$primery-font-color: #5E6282;

h1 {
    font-size: 45px;
    line-height: 56px;
    color: #000000;
}

h6 {
    font-size: 14px;
    line-height: 16px;
}

ul {
    list-style: none;
    margin: 0;
}

li {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

a {
    text-decoration: none;
}

li {
    a {
        color: #ffffff;

        &:hover {
            color: #000000;
        }
    }
}